.footer .footer__contacts .footer__contact--email, .footer .footer__contacts .footer__contacts--red, .footer .footer__contacts, .education .education__dev, .education .education__code, .education, .projects .projects__one .projects__one__figure, .projects .projects--title, .header .header__body .container--header-body, .header .header__top .header__top__nav .header__top__nav__li p, .header .header__top .header__top__nav, .header .header__top .header__top__figure, .header .header__top, .nav a, .nav a .point--contact, .nav a .point--education, .nav a .point--projects, .nav a .point--header, .nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects, .header {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow: hidden;
}

.nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  z-index: 10;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
  font-family: "Source sand serif";
}
.nav a .point--contact, .nav a .point--education, .nav a .point--projects, .nav a .point--header {
  margin: 2px 0px;
  width: 30px;
  cursor: pointer;
  font-size: 30px;
  transition: 1s;
}
.nav a .point--contact--title, .nav a .point--education--title, .nav a .point--projects--title, .nav a .point--header--title {
  position: absolute;
  left: -150px;
  transition: 0.7s;
  cursor: pointer;
  font-size: 25px;
}
.nav a {
  position: relative;
  cursor: pointer;
}
.nav a:hover span {
  left: 20px;
}

.header {
  position: relative;
}
.header .header__top {
  width: inherit;
  max-width: inherit;
  height: 60px;
  justify-content: space-between;
  position: fixed;
  z-index: 3;
}
.header .header__top .header__top__figure {
  outline: 1px solid indigo;
  width: 50px;
  height: 50px;
  margin-left: 10px;
  z-index: 20;
}
.header .header__top .header__top__figure .header__top__figure--logo {
  width: 100%;
  height: 100%;
}
.header .header__top .header__top__nav {
  margin-right: 10px;
  list-style: none;
}
.header .header__top .header__top__nav .header__top__nav__li p {
  margin: 0 20px;
  cursor: pointer;
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  transition: 0.5s;
}
.header .header__top .header__top__nav .header__top__nav__li p:hover {
  font-size: 20px;
}
.header .header__body {
  background-color: #020202;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  position: relative;
  overflow: hidden;
}
.header .header__body .container--header-body .header__body__h1 {
  color: white;
  grid-column: 1/2;
  position: absolute;
  margin: 0 50px;
  z-index: 2;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 50px;
}
.header .header__body .container--header-body .header__body__img {
  grid-template-rows: 2/3;
  width: 715px;
  height: 750px;
  overflow: none;
  position: absolute;
  z-index: 1;
}

.projects {
  display: grid;
  grid-template-rows: repeat(10, 10%);
  grid-template-columns: repeat(10, 10%);
  font-family: "Indie Flower", cursive;
  background-image: url("../images/pintura.jpg");
  background-position: center;
  background-size: cover;
}
.projects .projects--title {
  grid-column: 2/4;
  font-size: 40px;
}
.projects .projects__four, .projects .projects__three, .projects .projects__two, .projects .projects__one {
  border-radius: 20px;
  margin: 1px;
  transition: 1s;
  cursor: pointer;
}
.projects .projects__four div, .projects .projects__three div, .projects .projects__two div, .projects .projects__one div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  background: radial-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.3));
  border-radius: 20px;
  padding: 0px 5px;
}
.projects .projects__four h2, .projects .projects__three h2, .projects .projects__two h2, .projects .projects__one h2 {
  font-family: "Russo One", sans-serif;
}
.projects .projects__four .projects__four__h3 span, .projects .projects__three .projects__three__h3 span, .projects .projects__two .projects__two__h3 span, .projects .projects__one .projects__one__h3 span {
  visibility: hidden;
}
.projects .projects__four:hover, .projects .projects__three:hover, .projects .projects__two:hover, .projects .projects__one:hover {
  transform: scale(1.5);
  z-index: 10;
}
.projects .projects__four:hover span, .projects .projects__three:hover span, .projects .projects__two:hover span, .projects .projects__one:hover span {
  visibility: visible;
}
.projects .projects__one {
  grid-column: 3/6;
  grid-row: 2/4;
  background-color: red;
}
.projects .projects__one .projects__one__h2 {
  text-align: right;
  margin-right: 10px;
}
.projects .projects__one .projects__one__figure {
  justify-content: start;
}
.projects .projects__one .projects__one__figure__img {
  width: 50px;
  height: 50px;
  margin-left: 10px;
}
.projects .projects__one .projects__one__figure__img--two {
  width: 65px;
  height: 45px;
}
.projects .projects__one .projects__one__h3 {
  text-align: right;
  margin-right: 15px;
}
.projects .projects__two {
  grid-column: 6/8;
  grid-row: 3/7;
  background-color: green;
}
.projects .projects__two .projects__two__h2 {
  margin-left: 10px;
}
.projects .projects__two .projects__two__figure {
  text-align: center;
}
.projects .projects__two .projects__two__figure .projects__two__figure__img {
  width: 120px;
  height: 120px;
}
.projects .projects__two .projects__two__h3 {
  text-align: center;
}
.projects .projects__three {
  grid-column: 4/6;
  grid-row: 5/8;
  background-color: khaki;
}
.projects .projects__three .projects__three__h2 {
  text-align: right;
  margin-right: 10px;
}
.projects .projects__three .projects__three__figure {
  position: relative;
  text-align: center;
  width: 220px;
  height: 120px;
  transition: all 1s;
}
.projects .projects__three .projects__three__figure .projects__three__figure__img {
  position: absolute;
  width: 100px;
  height: 100px;
  transition: 1s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.projects .projects__three .projects__three__figure .projects__three__figure__img--complete {
  position: absolute;
  width: 220px;
  height: 120px;
  transition: 1s;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.projects .projects__three .projects__three__h3 {
  text-align: right;
}
.projects .projects__four {
  grid-column: 6/9;
  grid-row: 7/9;
  background-color: lightseagreen;
}
.projects .projects__four .project__four__div {
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}
.projects .projects__four .projects__four__figure {
  width: 200px;
  height: 10px;
  position: relative;
}
.projects .projects__four .projects__four__figure .projects__four__figure__img {
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  transition: 1s;
  top: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.projects .projects__four .projects__four__figure .projects__four__figure__img--complete {
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  transition: 1s;
  top: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  opacity: 0;
}
.education {
  height: 100vh;
  position: relative;
  font-family: "Tangerine", cursive;
  font-size: 58px;
  background-image: url(https://i.pinimg.com/originals/39/2a/18/392a18f48f364f2d7e80606d2221eb50.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}
.education .education__code {
  flex-direction: column;
  width: 70%;
  margin-right: 10%;
  color: #D7D7D7;
  margin-top: 10%;
}
.education .education__code .education__code--title {
  position: absolute;
  top: 50px;
  left: 45%;
}
.education .education__code .education__code--program {
  width: 50%;
}
.education .education__code .education__code--program .container--education--code {
  position: relative;
}
.education .education__code .education__code--program .container--education--code div {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 0px;
  transition: 1s;
  height: 1px;
}
.education .education__code .education__code--program p {
  width: 140px;
  padding: 30px;
  padding-right: 50%;
  font-size: 25px;
  margin-right: 10%;
  font-family: "Gloria Hallelujah", cursive;
  cursor: pointer;
}
.education .education__code .education__code--program .container--education--code:hover div {
  width: 60%;
  background-color: #D7D7D7;
}
.education .education__dev {
  width: 30%;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 50px;
  margin-right: 20px;
}
.education .education__dev img {
  width: 100px;
  height: 100px;
  margin: 15px;
}
.education .education__dev .education__dev__sql__img {
  height: 60px;
}

.footer {
  height: 100vh;
  background-image: url(https://i2.wp.com/mbcgroup.co/wp-content/uploads/2019/02/Contact-us-2.jpg?ssl=1);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #B4DFE3;
  background-position: bottom;
  color: #4C76A2;
}
.footer .footer__contacts {
  width: 70%;
  height: 80%;
  flex-direction: column;
  justify-content: space-evenly;
}
.footer .footer__contacts .footer__contacts--title {
  font-size: 50px;
  font-family: "Permanent Marker", cursive;
}
.footer .footer__contacts .footer__contacts--red {
  width: 50%;
  justify-content: space-between;
  cursor: pointer;
}
.footer .footer__contacts .footer__contacts--red img {
  width: 150px;
  height: 150px;
}
.footer .footer__contacts .footer__contact--email {
  flex-direction: column;
}
.footer .footer__contacts .footer__contact--email p {
  font-size: 21px;
  font-family: "Indie Flower", cursive;
  text-align: center;
}
.footer .footer__contacts .footer__contact--email .button, .footer .footer__contacts .footer__contact--email .email {
  padding: 7px;
  border-radius: 20px;
  margin: 8px;
  outline: none;
}
.footer .footer__contacts .footer__contact--email .email {
  width: 200px;
  font-family: "Indie Flower", cursive;
}
.footer .footer__contacts .footer__contact--email .button {
  font-family: "Indie Flower", cursive;
  padding: 8px 15px;
  cursor: pointer;
}

.hidden {
  display: none;
}

@media screen and (max-width: 1025px) {
  .header .header__body .container--header-body .header__body__h1 {
    margin-left: 70px;
  }

  .projects .projects__three .projects__three__figure .projects__three__figure__img {
    width: 60px;
    height: 60px;
  }
  .projects .projects__three .projects__three__figure .projects__three__figure__img--complete {
    width: 110px;
    height: 60px;
  }
}
@media screen and (max-width: 768px) {
  .projects .projects__one {
    grid-column: 2/6;
  }
  .projects .projects__two {
    grid-column: 6/9;
  }
  .projects .projects__three {
    grid-column: 3/6;
  }
  .projects .projects__four {
    grid-column: 6/10;
  }

  .education .education__code {
    margin-left: 20px;
  }

  .footer .footer__contacts {
    margin: auto;
  }
  .footer .footer__contacts .footer__contacts--red {
    width: 100%;
  }
  .footer .footer__contacts .footer__contact--email p {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 562px) {
  .nav {
    display: none;
  }

  .header .header__top {
    position: fixed;
  }

  .projects {
    grid-template-rows: repeat(20, 5%);
  }
  .projects .projects--title {
    grid-column: 4/8;
    grid-row: 3;
  }
  .projects .projects__one {
    grid-column: 3/9;
    grid-row: 5/6;
  }
  .projects .projects__one .projects__one__h3 {
    display: none;
  }
  .projects .projects__two {
    grid-column: 3/9;
    grid-row: 7/11;
  }
  .projects .projects__two .projects__two__figure .projects__two__figure__img {
    width: 80px;
    height: 80px;
  }
  .projects .projects__two .projects__two__h3 {
    display: none;
  }
  .projects .projects__three {
    grid-column: 3/9;
    grid-row: 12/15;
  }
  .projects .projects__three .projects__three__h3 {
    display: none;
  }
  .projects .projects__four {
    grid-column: 3/9;
    grid-row: 16/17;
  }
  .projects .projects__four .projects__four__h3 {
    display: none;
  }

  .education .education__code {
    margin-left: 0;
  }
  .education .education__code .education__code--title {
    top: 70px;
    left: auto;
  }
  .education .education__code .education__code--program .container--education--code:hover div {
    width: 180%;
  }
  .education .education__code .education__code--program p {
    padding: 10px;
    padding-left: 0px;
  }
  .education .education__dev img {
    width: 80px;
    height: 80px;
  }

  .footer .footer__contacts .footer__contacts--red {
    width: 120%;
  }
  .footer .footer__contacts .footer__contacts--red img {
    width: 100px;
    height: 100px;
  }
}
@media screen and (max-width: 320px) {
  .footer .footer__contacts .footer__contacts--red img {
    width: 80px;
    height: 80px;
  }
}
@media screen and (max-height: 414px) {
  .nav {
    display: none;
  }

  .header .header__body .container--header-body .header__body__h1 {
    font-size: 38px;
  }

  .projects .projects--title {
    grid-column: 5/7;
    grid-row: 3/4;
  }
  .projects .projects__one {
    grid-column: 2/5;
    grid-row: 5/6;
  }
  .projects .projects__one .projects__one__h3 {
    display: none;
  }
  .projects .projects__two {
    grid-column: 2/5;
    grid-row: 7/9;
  }
  .projects .projects__two div {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  .projects .projects__two .projects__two__figure .projects__two__figure__img {
    width: 80px;
    height: 80px;
  }
  .projects .projects__two .projects__two__h3 {
    display: none;
  }
  .projects .projects__three {
    grid-column: 7/10;
    grid-row: 7/9;
  }
  .projects .projects__three div {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .projects .projects__three .projects__three__h3 {
    display: none;
  }
  .projects .projects__four {
    grid-column: 7/10;
    grid-row: 5/6;
  }
  .projects .projects__four .projects__four__h3 {
    display: none;
  }

  .education .education__code {
    margin-top: 5%;
  }
  .education .education__code .education__code--title {
    font-size: 40px;
    top: 15px;
    left: 25%;
  }
  .education .education__code .education__code--program p {
    padding: 1px;
  }
  .education .education__dev {
    width: 60%;
  }
  .education .education__dev img {
    width: 60px;
    height: 60px;
  }
  .education .education__dev .education__dev__css__img {
    width: 50px;
  }
  .education .education__dev .education__dev__sql__img {
    height: 50px;
  }

  .footer {
    background-position: right;
    background-position-y: 58px;
  }
  .footer .footer__contacts {
    height: 100%;
    margin-left: 5%;
  }
  .footer .footer__contacts .footer__contacts--title {
    margin-top: 5%;
  }
  .footer .footer__contacts .footer__contacts--red {
    width: auto;
  }
  .footer .footer__contacts .footer__contacts--red img {
    width: 100px;
    height: 100px;
  }
}
@media screen and (max-height: 568px) and (max-width: 320px) {
  .header .header__top .header__top__figure {
    display: none;
  }

  .education .education__code {
    margin-top: 20%;
  }
  .education .education__dev img {
    width: 60px;
    height: 60px;
  }
  .education .education__dev .education__dev__css__img {
    width: 50px;
  }
  .education .education__dev .education__dev__sql__img {
    height: 50px;
  }
}
@media screen and (max-height: 320px) and (max-width: 568px) {
  .education .education__code .education__code--program p {
    height: 35px;
  }
}

/*# sourceMappingURL=style.css.map */
